<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Events / Lights</title>
    <meta name="description" content="Events — A-Frame">
    <script src="https://aframe.io/releases/0.2.0/aframe.min.js"></script>
    <script src="https://rawgit.com/ngokevin/aframe-template-component/master/dist/aframe-template-component.min.js"></script>
<script src="https://rawgit.com/ngokevin/aframe-layout-component/master/dist/aframe-layout-component.min.js"></script>

	
	</head>
<body>


<a-scene>
    <a-assets>
        <img id="grass" crossorigin="anonymous" src="http://i1317.photobucket.com/albums/t637/gmengineer/sprieters_zps269d2607.png">
        
        <img id="pic1" crossorigin="anonymous" src="images/01.jpg">
        <img id="pic2" crossorigin="anonymous" src="images/02.jpg">
        <img id="pic3" crossorigin="anonymous" src="images/03.jpg">
      <img id="pic4" crossorigin="anonymous" src="images/04.jpg">
      <img id="pic5" crossorigin="anonymous" src="images/05.jpg">
      <img id="pic6" crossorigin="anonymous" src="images/06.jpg">
      <img id="pic7" crossorigin="anonymous" src="images/07.jpg">
      <img id="pic8" crossorigin="anonymous" src="images/08.gif">
      <img id="pic9" crossorigin="anonymous" src="images/09.jpg">
      <img id="pic10" crossorigin="anonymous" src="images/10.jpg">
      <img id="pic11" crossorigin="anonymous" src="images/11.jpg">
      <img id="pic12" crossorigin="anonymous" src="images/12.jpg">
      <img id="pic13" crossorigin="anonymous" src="images/13.jpeg">
      <img id="pic14" crossorigin="anonymous" src="images/14.jpg">
      <img id="pic15" crossorigin="anonymous" src="images/15.jpg">
      <img id="pic16" crossorigin="anonymous" src="images/16.jpg">
      <img id="pic17" crossorigin="anonymous" src="images/17.jpg">
      <img id="pic18" crossorigin="anonymous" src="images/18.jpg">
      <img id="pic19" crossorigin="anonymous" src="images/19.jpg">
      <img id="pic20" crossorigin="anonymous" src="images/20.jpg">
      <img id="pic21" crossorigin="anonymous" src="images/21.jpg">
      <img id="pic22" crossorigin="anonymous" src="images/22.jpg">
      <img id="pic23" crossorigin="anonymous" src="images/23.gif">
      <img id="pic24" crossorigin="anonymous" src="images/24.jpg">
      <img id="pic25" crossorigin="anonymous" src="images/25.jpg">
      <img id="pic26" crossorigin="anonymous" src="images/26.gif">
	  <img id="pic27" crossorigin="anonymous" src="images/27.gif">
	  <img id="pic28" crossorigin="anonymous" src="images/28.gif">
	  <img id="pic29" crossorigin="anonymous" src="images/29.JPG">
	  <img id="pic30" crossorigin="anonymous" src="images/30.jpg">
	  <img id="pic31" crossorigin="anonymous" src="images/31.jpg">
	  <img id="pic32" crossorigin="anonymous" src="images/32.jpg">
	  <img id="pic33" crossorigin="anonymous" src="images/33.jpg">
	  <img id="pic34" crossorigin="anonymous" src="images/34.jpg">
	  <img id="pic35" crossorigin="anonymous" src="images/35.jpg">
	  <img id="pic36" crossorigin="anonymous" src="images/36.jpg">
	  <img id="pic37" crossorigin="anonymous" src="images/37.gif">
	  <img id="pic38" crossorigin="anonymous" src="images/38.jpg">
	  <img id="pic39" crossorigin="anonymous" src="images/39.jpg">
	  <img id="pic40" crossorigin="anonymous" src="images/40.gif">
	  <img id="pic41" crossorigin="anonymous" src="images/41.gif">
	  <img id="pic42" crossorigin="anonymous" src="images/42.gif">
	  <img id="pic43" crossorigin="anonymous" src="images/43.gif">
	  
	  <audio id="grind" src="sounds/coffee-grind.mp3">
	  
        <!--video id="videoa" autoplay crossorigin="anonymous" src="http://www.sample-videos.com/video/mp4/240/big_buck_bunny_240p_2mb.mp4"-->
         
       
        <a-mixin id="podium" geometry="primitive: cylinder; height:5.5; radius:0.2;"></a-mixin>
        <a-mixin id="toggle-sphere" geometry="primitive: sphere; radius:0.2;" material="color: red" position="0 4.3 0"></a-mixin>
        <a-mixin id="yellow-orange" material="color: #FFD50D;"></a-mixin>
      
	        <script id="pics" type="text/x-nunjucks-template">
           {% for x in range(1,44) %}
               <a-entity geometry="primitive: plane; height:16; width: 20"
                material="color: #ccc; side: double"
                position="{{10 + (x%2)*-20}} 5 {{-15*x}}"
                rotation="0 {% if x % 2 %}45{% else %}120{% endif%} 0"
				{% if x == 7 %}
				sound="src: #grind; autoplay: true; "
				{% endif %}
				>
              <a-image src="#pic{{ x }}" height="16" width="20"></a-image>  
              </a-entity> 
        
        
           {% endfor %}
        
      </script>
	  
       <script id="stars" type="text/x-nunjucks-template">
            {% for x in mylist %}
                {% for y in range(1,15) %}

                    <a-entity
                        geometry="primitive: sphere"
                        material="color: white; shader: standard"
                        position="{{ x }} {{ -y  }} 0"
                        ></a-entity>

                {% endfor %} 
            {% endfor %}
        </script>

      
    </a-assets>


    <a-entity id="main-entity" position="0 0 0">

        <!-- Lights -->
      
        <a-entity light="color: #efefef; intensity: 1.5; type: point;" position="-1 1 0">
            <a-animation id="point-light-anim" begin="point-light-start" attribute="light.intensity" to="0"></a-animation>
        </a-entity>

        <!-- Instruct Light -->
      
        <a-entity light="color: #fff; intensity: 1; type: point; decay: 0.4; distance: 4;" position="35 2 37.5"></a-entity>

        <a-entity light="color: #FF282D; intensity: 0; type: point;" position="-1 1 0">
            <a-animation id="point-light-anim-red" begin="point-light-start" atatribute="light.intensity" to="1"></a-animation>
        </a-entity>

        <a-entity light="color: #C41F23; intensity: 0; type: point;" position="0 0 0" distance="0" decay="0.1">
            <a-animation id="ambient-light-anim-red" begin="ambient-light-start" attribute="light.intensity" to="4"></a-animation>
        </a-entity>

        <a-entity light="color: #efefef; intensity: 0.7; type: directional;" position="0 1 -3"></a-entity>

        <!-- Sign -->
        <!-- entity
                geometry="primitive: plane; height: 0.8; width: 1.8"
                material="src: #instruct1; transparent: true; opacity: 1"
                position="34 2 37"
                rotation="0 45 0">
        </a-entity -->

        <!--a-entity
                geometry="primitive: sphere; radius:0.15"
                material="color: green"
                position="35 2 37.5">
        </a-entity -->

        <a-entity id="cameraStart-1" position="0 5 0" rotation="0 0 0">
            <a-camera id="camera">
                <!--a-cursor color="#4CC3D9"></a-cursor>
                   <a-entity geometry="primitive: sphere; height: 2; radius: 2;"
                material="color: red"
                position="0 0 -10">
                </a-entity-->
            </a-camera>
     
            <a-animation id="camera-anim" attribute="position" begin="23" to="0 0 -620" dur="40000"></a-animation>
            <a-animation id="camera-anim2" attribute="position" begin="camer222" to="10 10 -10" dur="2000"></a-animation>
            <a-animation id="camera-anim3" attribute="rotation" begin="camera-start-2" to="-20 140 0" dur="2000"></a-animation>
        </a-entity>


      
        <!--a-entity id="orb" geometry="primitive: box; height:1; width:1; depth:1;" material="color: orange;" position="34 2.5 34">
            <a-animation id="orb-anim" attribute="position" begin="start-orb" to="0 4 0" dur="2000"></a-animation>
            <a-animation attribute="rotation"
                         dur="10000"
                         fill="forwards"
                         to="360 360 360"
                         repeat="indefinite"></a-animation>
        </a-entity-->


        <!-- Podiums -->
        <!--a-entity id="podium-1" position="34 -1 34">
            <a-entity id="podium-1-toggle" mixin="toggle-sphere"></a-entity>
            <a-entity mixin="podium yellow-orange"></a-entity>
        </a-entity>

        <a-entity position="0 -1 0">
            <a-entity mixin="toggle-sphere"></a-entity>
            <a-entity mixin="podium yellow-orange"></a-entity>
        </a-entity-->


        <!-- Ground -->
        <!--a-entity
                geometry="primitive: plane; height: 800; width: 800"
                material="color: #725D43; side: double;"
                position="0 0 0"
                rotation="90 0 0">
        </a-entity-->

        <!-- Walls -->
      <!--
        <a-entity
                geometry="primitive: plane; height: 80; width: 80"
                material="src: #grass; color: #ccc; side: double"
                position="-40 2 0"
                rotation="0 90 0">
        </a-entity>

        <a-entity
                geometry="primitive: plane; height: 80; width: 80"
                material="color: #ccc; side: double"
                position="0 2 -40"
                rotation="0 0 0">
        </a-entity>
      -->
        <!--a-entity geometry="primitive: cylinder; height:15; radius:2;"
                  material="color: #FFD50D;"
                  position="25 0 0"
        </a-entity>
        <a-entity geometry="primitive: sphere; height:15; radius:10"
                  material="color: #FFD50D;"
                  position="25 10 0" 
        </a-entity-->
      <!--a-entity geometry="primitive: sphere; height: 2; radius: 2"
                material="color: white"
                position="10 10 0">
      </a-entity-->
      <!--a-entity geometry="primitive: plane; height:8; width: 10"
                material="color: #ccc; side: double"
                position="10 5 -15"
                rotation="0 120 0">
      <a-image src="#pic1" height="8" width="10"></a-image>  
      </a-entity> 
      
      <a-entity geometry="primitive: plane; height:8; width: 10"
                material="color: #ccc; side: double"
                position="-10 5 -30"
                rotation="0 45 0">
      <a-image src="#pic2" height="8" width="10"></a-image>  
      </a-entity> 
      
            <a-entity geometry="primitive: plane; height:8; width: 10"
                material="color: #ccc; side: double"
                position="10 5 -45"
                rotation="0 120 0">
      <a-image src="#pic3" height="8" width="10"></a-image>  
      </a-entity> 
      
      <a-entity geometry="primitive: plane; height:8; width: 10"
                material="color: #ccc; side: double"
                position="-10 5 -60"
                rotation="0 45 0">
      <a-image src="#pic4" height="8" width="10"></a-image>  
      </a-entity> 
      
            <a-entity geometry="primitive: plane; height:8; width: 10"
                material="color: #ccc; side: double"
                position="10 5 -75"
                rotation="0 120 0">
      <a-image src="#pic5" height="8" width="10"></a-image>  
      </a-entity> 
      
      <a-entity geometry="primitive: plane; height:8; width: 10"
                material="color: #ccc; side: double"
                position="-10 5 -90"
                rotation="0 45 0">
      <a-image src="#pic6" height="8" width="10"></a-image>  
      </a-entity> 
      
            <a-entity geometry="primitive: plane; height:8; width: 10"
                material="color: #ccc; side: double"
                position="10 5 -105"
                rotation="0 120 0">
      <a-image src="#pic7" height="8" width="10"></a-image>  
      </a-entity> 
      
      <a-entity geometry="primitive: plane; height:8; width: 10"
                material="color: #ccc; side: double"
                position="-10 5 -120"
                rotation="0 45 0">
      <a-image src="#pic8" height="8" width="10"></a-image>  
      </a-entity--> 
            <!--a-entity geometry="primitive: plane; height:8; width: 10"
                material="color: #ccc; side: double"
                position="10 5 15"
                rotation="0 45 0">
            <a-video src="#videoa" height="8" width="10"></a-video>
        </a-entity-->
 

      <a-entity template="src: #pics" position="0 0 0" rotation="0 0 0"></a-entity>
        
      
        <a-entity template="src: #stars" data-num="10" position="20 0 0" rotation="0 90 0"> </a-entity>
        
      <a-sky src="https://cdn.eso.org/images/screen/b04.jpg"></a-sky> 
    </a-entity>
</a-scene>


<script type="text/javascript" src="js/script3.js"></script>
</body>
</html>