<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Events / Lights</title>
    <meta name="description" content="Events — A-Frame">
    <script src="https://aframe.io/releases/0.2.0/aframe.min.js"></script>
    <script src="https://rawgit.com/ngokevin/aframe-template-component/master/dist/aframe-template-component.min.js"></script>
    <script src="https://rawgit.com/ngokevin/aframe-layout-component/master/dist/aframe-layout-component.min.js"></script>

	
	</head>
<body>


<a-scene>
    <a-assets>
        <img id="grass" crossorigin="anonymous" src="http://i1317.photobucket.com/albums/t637/gmengineer/sprieters_zps269d2607.png">
        
        <img id="pic1" crossorigin="anonymous" src="images/01.jpg">
        <img id="pic2" crossorigin="anonymous" src="images/02.jpg">
        <img id="pic3" crossorigin="anonymous" src="images/03.jpg">
      <img id="pic4" crossorigin="anonymous" src="images/04.jpg">
      <img id="pic5" crossorigin="anonymous" src="images/05.jpg">
      <img id="pic6" crossorigin="anonymous" src="images/06.jpg">
      <img id="pic7" crossorigin="anonymous" src="images/07.jpg">
      <img id="pic8" crossorigin="anonymous" src="images/08.gif">
      <img id="pic9" crossorigin="anonymous" src="images/09.jpg">
      <img id="pic10" crossorigin="anonymous" src="images/10.jpg">
      <img id="pic11" crossorigin="anonymous" src="images/11.jpg">
      <img id="pic12" crossorigin="anonymous" src="images/12.jpg">
      <img id="pic13" crossorigin="anonymous" src="images/13.jpeg">
      <img id="pic14" crossorigin="anonymous" src="images/14.jpg">
      <img id="pic15" crossorigin="anonymous" src="images/15.jpg">
      <img id="pic16" crossorigin="anonymous" src="images/16.jpg">
      <img id="pic17" crossorigin="anonymous" src="images/17.jpg">
      <img id="pic18" crossorigin="anonymous" src="images/18.jpg">
      <img id="pic19" crossorigin="anonymous" src="images/19.jpg">
      <img id="pic20" crossorigin="anonymous" src="images/20.jpg">
      <img id="pic21" crossorigin="anonymous" src="images/21.jpg">
      <img id="pic22" crossorigin="anonymous" src="images/22.jpg">
      <img id="pic23" crossorigin="anonymous" src="images/23.gif">
      <img id="pic24" crossorigin="anonymous" src="images/24.jpg">
      <img id="pic25" crossorigin="anonymous" src="images/25.jpg">
      <img id="pic26" crossorigin="anonymous" src="images/26.gif">
	  <img id="pic27" crossorigin="anonymous" src="images/27.gif">
	  <img id="pic28" crossorigin="anonymous" src="images/28.gif">
	  <img id="pic29" crossorigin="anonymous" src="images/29.JPG">
	  <img id="pic30" crossorigin="anonymous" src="images/30.jpg">
	  <img id="pic31" crossorigin="anonymous" src="images/31.jpg">
	  <img id="pic32" crossorigin="anonymous" src="images/32.jpg">
	  <img id="pic33" crossorigin="anonymous" src="images/33.jpg">
	  <img id="pic34" crossorigin="anonymous" src="images/34.jpg">
	  <img id="pic35" crossorigin="anonymous" src="images/35.jpg">
	  <img id="pic36" crossorigin="anonymous" src="images/36.jpg">
	  <img id="pic37" crossorigin="anonymous" src="images/37.gif">
	  <img id="pic38" crossorigin="anonymous" src="images/38.jpg">
	  <img id="pic39" crossorigin="anonymous" src="images/39.jpg">
	  <img id="pic40" crossorigin="anonymous" src="images/40.gif">
	  <img id="pic41" crossorigin="anonymous" src="images/41.gif">
	  <img id="pic42" crossorigin="anonymous" src="images/42.gif">
	  <img id="pic43" crossorigin="anonymous" src="images/43.gif">
	  
	  <audio id="grind" src="sounds/coffee-grind.mp3">
	  <audio id="espresso" src="sounds/coffee-espresso.mp3">
	  <audio id="pour" src="sounds/coffee-pouring-beans.mp3">
	  <audio id="coffeePour" src="sounds/coffee-pour.mp3">
	  <audio id="coffeeBubbles" src="sounds/Espresso-Bubbles.mp3">
	  <audio id="espressoMachine" src="sounds/Espresso-Machine.mp3">
	  <audio id="espressoMachine" src="sounds/Slurping.mp3">
	  
	  <!-- cup don't show up anywhere -->
	  <a-asset-item id="cup" src="cup.dae"></a-asset-item>'
	  <!-- video is too freakin loud -->
	  <video id="roast" autoplay="true" loop="false" volumn=".2" src="videos/EthiopiaRoastingCoffee360video2016.mp4">
      <!--video id="videoa" autoplay crossorigin="anonymous" src="http://www.sample-videos.com/video/mp4/240/big_buck_bunny_240p_2mb.mp4"-->
         
       
  
	        <script id="pics" type="text/x-nunjucks-template">
           {% for x in range(1,42) %}
               <a-entity geometry="primitive: plane; height:16; width: 20"
                material="color: #ccc; side: double"
                position="{{10 + (x%2)*-20}} 5 {{-15*x}}"
                rotation="0 {% if x % 2 %}45{% else %}120{% endif%} 0"
				{% if x == 4 %}
					sound="src: sounds/coffee-pouring-beans.mp3; autoplay: true; loop: true; volumn: 1;"
				{% endif %}
				{% if x == 7 %}
				sound="src: sounds/coffee-grind.mp3; autoplay: true; loop: true; volumn: 1;"
				{% endif %}
				{% if x == 17 %}
				sound="src: sounds/coffee-espresso.mp3; autoplay: true; loop: true; volumn: 1;"
				{% endif %}
				{% if x == 35 %}
					sound="src: sounds/coffee-pour.mp3; autoplay:true; loop: true;"
				{% endif %}
				{% if x == 30 %}
				sound="src: sounds/Espresso-Bubbles.mp3; autoplay:true; loop: true;"
				{% endif %}
			    {% if x == 14 %}
				sound="src: sounds/Espresso-Machine.mp3; autoplay:true; loop: true;"
				{% endif %}
			    {% if x == 20 %}
				sound="src: sounds/Espresso-Machine.mp3; autoplay:true; loop: true;"
				{% endif %}
				{% if x == 41 %}
				sound="src: sounds/Slurping.mp3; autoplay:true; loop:true;"
				{% endif %}
				
				>
              <a-image src="#pic{{ x }}" height="16" width="20"></a-image>  
              </a-entity> 
        
        
           {% endfor %}
        
      </script>


      
    </a-assets>


    <a-entity id="main-entity" position="0 0 0">

        <!-- Lights -->
      
        <a-entity light="color: #efefef; intensity: 1.5; type: point;" position="-1 1 0">
            <a-animation id="point-light-anim" begin="point-light-start" attribute="light.intensity" to="0"></a-animation>
        </a-entity>


        <a-entity id="cameraStart-1" position="0 5 0" rotation="0 0 0">
            <a-camera id="camera">
                <!--a-cursor color="#4CC3D9"></a-cursor>
                   <a-entity geometry="primitive: sphere; height: 2; radius: 2;"
                material="color: red"
                position="0 0 -10">
                </a-entity-->
            </a-camera>
     
            <a-animation id="camera-anim" attribute="position" begin="2000" to="0 0 -630" repeat="indefinite" easing="linear" dur="40000"></a-animation>
        </a-entity>

 
		<a-collada-model src="#cup" position="0 0 0"></a-collada-model>
       <a-entity template="src: #pics" position="0 0 0" rotation="0 0 0"></a-entity>
        <a-videosphere src="#roast" begin="10000"></a-videosphere>
      
        
      <!--a-sky src="https://cdn.eso.org/images/screen/b04.jpg"></a-sky--> 
    </a-entity>
</a-scene>


</body>
</html>